@media screen and (max-width: 500px) {
    #about-layout {
        width: 95%;
    }

    .gallery-card {
        width: 100%;
    }

    .it-article-text {
        margin: 0px;
    }

    #it-experience article {
        width: 90%;
    }
}