@media screen and (max-width: 500px) {
    #about-layout {
        width: 95%;
        --hex-size: 1.5;
    }

    #gallery {
        width: 90%;
    }

    .gallery-card {
        width: 100%;
    }

    .it-intro .it-preview-info-c {
        position: static;
        transform: none;
    }

    .it-articles {
        width: 90%;
    }
}