/*********
CSS code for less than or equal to 680px width: 
*********/

@media screen and (max-width: 880px) {
    .it-preview {
        flex-direction: column;
    }

    .it-preview-info {
        width: 100%;
        margin: 1rem 0px;
    }
    
    .it-preview-img{
       width: 100%;
    }

    .it-preview-info-c {
        width: max-content;
        max-width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    #it-languages {
        width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .fa-ul {
        margin-top: 0.1rem;
    }

    .it-preview-info .it-preview-langs {
        flex-direction: row-reverse;
        left: auto;
        right: 0.2rem;
        padding-top: 0px;
    }
}