/*********
Base styling & variables: 
*********/

:root {
    /* Background Color: */
    --background-color: rgb(18, 24, 26);
    /* Basic Text: */
    --basic-text-color: rgb(189, 189, 189);
    /* Links & Lines: */
    --link-color: rgb(178, 213, 214);
    --link-hovercolor: rgb(146, 204, 204);
    --line-color: #c7c7c7;
    /* ToTop: */
    --totop-color: rgb(82, 82, 82);
    --totop-hover-color: cyan;
    /* Prev-Next */
    --prev-next-hover-color: rgba(0, 0, 0, 0.8);

    /* Headers: */
    --header-color: rgb(231, 231, 231);
    --header-grad-1: #00ff73;
    --header-grad-2: #2ee59f;
    --header-grad-3: #90f8d9;
    --header-grad-4: #aaf9fc;
    /* Nav: */
    --nav-text: 1.2rem;
    --hamburger-shadow:  rgba(255, 101, 47, .2);
    --dropdown-background-fallback-color: rgb(12, 14, 14);
    --dropdown-background-color: linear-gradient(36deg, rgba(12, 14, 14, 1) 0%, rgba(18, 7, 38, 1) 48%, rgba(17, 21, 22, 1) 100%);
    /* Gallery/IT: */
    --background-cover-color: 33, 33, 33;

    --gallery-icon: whitesmoke;
    --gallery-overlay-gradient: linear-gradient(180deg, rgba(12,14,14,0) 0%, rgba(19, 19, 19, 0.082) 75%, rgba(17,21,22,1) 100%);

    --it-lang-hover-color: aquamarine;
    --it-article-uneven: #242424;
    --it-article-even: #202020;
    --it-article-quick: rgb(44, 44, 44);
    /* Footer: */
    --footer-color: rgb(17, 17, 17);
    --footer-text-color: #747474;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', sans-serif;
    color: var(--basic-text-color);
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    line-height: 1.5;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

body.light {
    /* Background Color: */
    --background-color: rgb(230, 234, 236);
    /* Basic Text: */
    --basic-text-color: rgb(46, 46, 46);
    /* Links & Lines: */
    --link-color: rgb(25, 121, 126);
    --link-hovercolor: rgb(49, 90, 90);
    --line-color: #363636;
    /* ToTop: */
    --totop-color: rgb(116, 116, 116);
    --totop-hover-color: cyan;
    /* Prev-Next */
    --prev-next-hover-color: rgba(158, 158, 158, 0.8);

    /* Headers: */
    --header-color: rgb(63, 63, 63);
    --header-grad-1: #27bd6a;
    --header-grad-2: #0cafb4;
    --header-grad-3: #068139;
    --header-grad-4: #18928c;
    /* Nav: */
    --hamburger-shadow:  rgba(255, 101, 47, .2);
    --dropdown-background-fallback-color: rgb(12, 14, 14);
    --dropdown-background-color: linear-gradient(36deg, #c5c5c5 0%, rgb(168, 193, 214) 48%, #c5c5c5 100%);
    /* Gallery/IT: */
    --background-cover-color: 230, 234, 236;
    --xyz: rgb(150, 150, 150);

    --gallery-icon: rgb(31, 31, 31);
    --gallery-overlay-gradient: linear-gradient(180deg, rgba(112, 112, 112, 0) 0%, rgba(99, 99, 99, 0.044) 65%, rgba(207, 207, 207, 0.3) 75%, rgb(209, 209, 209) 100%);

    --it-lang-hover-color: rgb(67, 167, 133);
    --it-article-uneven: #c0c0c0;
    --it-article-even: #c7c7c7;
    --it-article-quick: rgb(199, 199, 199);
    /* Footer: */
    --footer-color: rgb(163, 163, 163);
    --footer-text-color: #2b2b2b;
}

body.pauseanim * {
    animation: none !important;
    transition: none !important;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

a:hover {
    color: var(--link-hovercolor);
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/*********
Important Layout Stuff without nav: 
*********/

#header-layout {
    display: grid;
    grid-template: "header nav nav";
    grid-template-columns: 15rem 1fr 1fr;
    height: 100vh;
    width: 100%;
    padding-top: 1rem;
    overflow: hidden;
    line-height: 1;
}

header {
    grid-area: header;
    width: min-content;
    height: 90vh;
}

main {
    grid-area: main;
    margin-left: 2rem;
    margin-right: 2rem;
}

footer {
    grid-area: footer;
    margin-top: auto;
    padding: 1rem 0px;
    background-color: var(--footer-color);
    text-align: center;
    color: var(--footer-text-color);
    width: 100%;
    height: max-content;
}

footer p {
    margin: 0;
}

.socialmedia {
    font-size: 2rem;
}

.socialmedia * {
    padding: 0px 0.5rem;
}

/*********
Headers & vertical text: 
*********/

.vert {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

h1 {
    color: var(--header-color);
}

h2 {
    margin-bottom: 0.5rem;
    /* font-family: 'Gugi', cursive; */
    font-size: 2rem;
    width: fit-content;
}

#ing-name {
    padding-left: calc(1rem + 6px);
    margin: 0px;
    letter-spacing: 7px;
    width: min-content;
    color: var(--header-grad-1);
}

#irl-name {
    margin-left: 1rem;
    color: var(--header-grad-1);
}

.svg {
    position: absolute;
    right: 0px;
    top: 15vh;
    overflow: hidden;
    width: 35vh;
    height: 70vh;
}

#hero {
    position: absolute;
    left: -10vh;
    top: 53vh;
    overflow: hidden;
    width: 50vh;
    height: 50vh;
    pointer-events: none;
}

/*********
Nav bar (responsive): 
*********/

nav {
    grid-area: nav;
    font-size: var(--nav-text);
    padding-top: 0.6rem;
    margin-right: 2rem;
    /* font-family: 'Gugi', cursive; */
    width: 100%;
    height: max-content;
    display: flex;
    user-select: none;
}

nav .dropitem {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav .dropitem a {
    text-decoration: none;
    color: var(--header-grad-1);
    height: max-content;
    /* width: 30rem; */
    width: min-content;
    white-space: nowrap;
}

nav .dropitem a:hover {
    color: var(--header-grad-2);
}

nav .hamburger {
    visibility: hidden;
}

.settings {
    margin: 0px 2rem 0px 1rem;
    color: var(--header-color);
}

.settings-dropdown.hidden {
    opacity: 0;
}

.settings-dropdown {
    transition: opacity .5s;
    opacity: 1;
    position: absolute;
    width: max-content;
    height: max-content;
    padding: 0.25rem 0.5rem;
    top: 3.6rem;
    right: 1rem;
    background: var(--dropdown-background-fallback-color);
    background: var(--dropdown-background-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 200;
}

.settings.setting-open {
    transform: rotate(180deg);
}

.settings.setting-close {
    transform: rotate(-180deg);
}

/*********
Lines: 
*********/

.line {
    width: calc(100% - 0.1rem);
    height: 0px;
    border: 0.05rem var(--line-color) solid;
}

.linethick {
    border-width: 0.1rem;
}

.lineshort {
    width: 1fr;
}

.linefixshort {
    width: 20%;
}

.linepad {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.linecenter {
    position: relative;
    top: calc(var(--nav-text) / 2);
}

.linerot45 {
    transform: rotate(45deg);
    width: 5rem;
}

.linerot135 {
    transform: rotate(135deg);
    width: 10rem;
    position: relative;
    top: 0.6rem;
    right: 1.2rem;
}

/*********
Gradient-texts: 
*********/

.gradient-header {
    /* background: linear-gradient(90deg, var(--header-grad-1), var(--header-grad-2));
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: var(--header-grad-1);
    max-width: max-content;
}

.gradient-header-vert {
    /* background: linear-gradient(180deg, var(--header-grad-1), var(--header-grad-2));
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: var(--header-grad-1);
    max-width: max-content;
}

.gradient-header2 {
    /* background: linear-gradient(90deg, var(--header-grad-3), var(--header-grad-4));
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: var(--header-grad-3);
    max-width: max-content;
}

.gradient-header2-vert {
    /* background: linear-gradient(180deg, var(--header-grad-3), var(--header-grad-4));
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: var(--header-grad-3);
    max-width: max-content;
}

/******
Covering Backgrounds:
******/

.cover-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    /* z-index: 101; */
    /* var(--background-color); */
    background-color: rgb(var(--background-cover-color));
    opacity: 0.95;
}
  
/********
ToTop button
********/

#totop {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-size: 2rem;
    background-color: var(--totop-color);
    border-radius: 50%;
    border-color: transparent;
    z-index: 300;
    transition: 1s;
    outline: none;
}

#totop i {
    position: relative;
    top: -0.4rem;
}

#totop:hover {
    color: var(--totop-hover-color);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    position: relative;
    top: 5px;
}
.icon-SoloLearn {
    width: 2.1rem;
    height: 2.1rem;
}

.icon-Logo {
    padding-left: 1rem;
    width: 12rem;
    height: 12rem;
    color: var(--header-grad-2);
}