/*********
Base styling & variables: 
*********/

:root {
    /* font-size: 16px; */
    --basic-text-color: rgb(189, 189, 189);
    --header-color: rgb(231, 231, 231);
    --link-color: rgb(178, 213, 214);
    --link-hovercolor: rgb(146, 204, 204);
    --background-color: rgb(18, 24, 26);
    --footer-color: rgb(51, 48, 48);
    --footer-text-color: #c7c7c7;
    --nav-text: 1.2rem;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', sans-serif;
    color: var(--basic-text-color);
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hovercolor);
}

/*********
Important Layout Stuff without nav: 
*********/

#header-layout {
    display: grid;
    grid-template: "header nav nav";
    grid-template-columns: 15rem 1fr 1fr;
    height: 100vh;
    width: 100%;
    margin-top: 1rem;
    overflow: hidden;
}

header {
    grid-area: header;
    width: min-content;
    height: 90vh;
}

main {
    grid-area: main;
    margin-left: 2rem;
    margin-right: 2rem;
}

footer {
    grid-area: footer;
    margin-top: auto;
    padding-top: 0.5rem;
    background-color: var(--footer-color);
    text-align: center;
    color: var(--footer-text-color);
    width: 100%;
    height: max-content;
}

footer p {
    margin: 0;
}

/*********
Headers & vertical text: 
*********/

.vert {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

h1 {
    color: var(--header-color);
}

h2 {
    margin-bottom: 0.5rem;
    font-family: 'Gugi', cursive;
    font-size: 2rem;
    width: fit-content;
}

#ing-name {
    padding-left: calc(1rem + 6px);
    margin: 0px;
    letter-spacing: 7px;
    width: min-content;
}

#irl-name {
    margin-left: 1rem;
}

.svg {
    position: absolute;
    right: 0px;
    top: 15vh;
    overflow: hidden;
    width: 35vh;
    height: 70vh;
}

#hero {
    position: absolute;
    left: -10vh;
    top: 53vh;
    overflow: hidden;
    width: 50vh;
    height: 50vh;
    pointer-events: none;
}

/*********
Nav bar (responsive): 
*********/

nav {
    grid-area: nav;
    font-size: var(--nav-text);
    padding-top: 0.6rem;
    margin-right: 2rem;
    font-family: 'Gugi', cursive;
    width: 100%;
    height: max-content;
}

nav .dropitem {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav .dropitem a {
    text-decoration: none;
    color: var(--link-color);
    height: 1.2rem;
    /* width: 30rem; */
    width: min-content;
    white-space: nowrap;
}

nav .dropitem a:hover {
    color: var(--link-hovercolor);
}

nav .hamburger {
    visibility: hidden;
}

/*********
Lines: 
*********/

.line {
    width: calc(100% - 0.1rem);
    height: 0px;
    border: 0.05rem #c7c7c7 solid;
}

.linethick {
    border-width: 0.1rem;
}

.lineshort {
    width: 1fr;
}

.linefixshort {
    width: 20%;
}

.linepad {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.linecenter {
    position: relative;
    top: calc(var(--nav-text) / 2);
}

.linerot45 {
    transform: rotate(45deg);
    width: 5rem;
}

.linerot135 {
    transform: rotate(135deg);
    width: 10rem;
    position: relative;
    top: 0.6rem;
    right: 1.2rem;
}

/*********
Gradient-texts: 
*********/

.gradient-header {
    background: linear-gradient(90deg, #00ff73, #2edfe5);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
}

.gradient-header-vert {
    background: linear-gradient(180deg, #00ff73, #2edfe5);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
}

.gradient-header2 {
    background: linear-gradient(90deg, #c2ffdd, #aaf9fc);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
}

.gradient-header2-vert {
    background: linear-gradient(180deg, #c2ffdd, #aaf9fc);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
}

/******
Covering Backgrounds:
******/

.cover-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    /* z-index: 101; */
    background-color: var(--background-color);
    opacity: 0.95;
}

.it-article-text {
    position: absolute;
}