/*********
Base styling & variables: 
*********/
:root {
    font-size: 16px;
    --basic-text-color: rgb(189, 189, 189);
    --header-color: rgb(231, 231, 231);
    --link-color: azure;
    --link-hovercolor: rgb(179, 221, 221);
    --background-color: rgb(18, 24, 26);

    --nav-text: 1.2rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--basic-text-color);
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
}

/*********
Important Layout Stuff without nav: 
*********/
#header-layout {
    display: grid;
    grid-template: 
        "header nav nav"
        "header nav nav";
        /* "main main main"
        "footer footer footer"; */
    grid-template-columns: 15rem 1fr 1fr;
    height: 100vh;
    width: 100%;
    margin-top: 1rem;
    background-image: url(../src/Art/portfolio_1.png);
    background-size: cover;
}

header {
    grid-area: header;
    width: min-content;
    height: 90vh;
}

main {
    grid-area: main;
    margin-left: 2rem;
    margin-right: 2rem;
}

footer {
    grid-area: footer;
    /* padding-left: 2rem; */
    margin-top: auto;
    padding-top: 0.5rem;
    background-color: rgb(51, 48, 48);
    text-align: center;
    color: #c7c7c7;
    width: 100%;
    height: 3rem;
}

footer p {
    margin: 0;
}

/*********
Headers & vertical text: 
*********/
.vert {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

h1 {
    color: var(--header-color);
}

h2 {
    margin-bottom: 0.5rem;
}

#ing-name {
    padding-left: calc(1rem + 6px);
    margin: 0px;
    letter-spacing: 7px;
    width: min-content;
}

#irl-name {
    margin-left: 1rem;
}

/*********
Nav bar (responsive): 
*********/
nav {
    grid-area: nav;
    font-size: var(--nav-text);
    padding-top: 0.6rem;
    margin-right: 2rem; 
}

nav .dropitem {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
nav .dropitem a {
    text-decoration: none;
    color: var(--link-color);
    height: 1.2rem;
    /* width: 30rem; */
    width: min-content;
    white-space: nowrap;
}

nav .dropitem a:hover {
    color: var(--link-hovercolor);
}

nav .hamburger {
    visibility: hidden;
}

/*********
Lines: 
*********/
.line {
    width: calc(100% - 0.1rem);
    height: 0px;
    border: 0.05rem #c7c7c7 solid;
}

.linethick {
    border-width: 0.1rem;
}

.lineshort {
    /* width: 5rem; */
    width: 1fr;
}
.linepad {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.linecenter {
    position: relative;
    top: calc(var(--nav-text) / 2);
}

.linerot45 {
    transform: rotate(45deg);
    width: 5rem;
}

.linerot135 {
    transform: rotate(135deg);
    width: 10rem;
    position: relative;
    top: 0.6rem;
    right: 1.2rem;
}

/*********
About-Me: 
*********/
#about-layout {
    --hex-size: 2;
    display: grid;
    grid-template: 
        "blurb name profile"
        "blurb name profile";
    grid-template-columns: 1fr 1rem calc(340px / var(--hex-size));
}

#about-profile {
    grid-area: profile;
    width: calc(340px / var(--hex-size));
    left: -3.5rem;
    position: relative;
    padding-left: 1.5rem;
}

#about-name {
    grid-area: name;
    margin-top: 1.2rem;
    height: 9rem;
    width: 1rem;
    position: relative;
    left: -1rem;
}

#about-text {
    grid-area: blurb;
}

/*********
Hex-image: 
*********/
.hex-image {
    width: calc(340px / var(--hex-size));
    height: calc(300px / var(--hex-size));
    background: url("../src/profile.png") no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    /*transform: rotate(10deg);  need to rotation ? */
}
/* Left shape */
.hex-image:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0;
    height: 3px;    
    border-right: calc(85px / var(--hex-size)) solid transparent;
    border-bottom: calc(150px / var(--hex-size)) solid var(--background-color) ;
    border-top: calc(150px / var(--hex-size)) solid var(--background-color) ;
}
/* Right shape */
.hex-image:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0;
    height: 3px;    
    border-left: calc(85px / var(--hex-size)) solid transparent;
    border-bottom: calc(150px / var(--hex-size)) solid var(--background-color);
    border-top: calc(150px / var(--hex-size)) solid var(--background-color) ;
}

/*********
Galery: 
*********/
#galery {
    font-size: 0px;
    /*Video & Img default height:*/
    --galery-element-height: 21rem;
}

#galery img{
    height: var(--galery-element-height);
}

#galery video{
    height: var(--galery-element-height);
}