body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(235,235,235);

    background-image: url("galaxy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 0, 50, 0, 50;
    color: rgb(255,255,255);
    margin: 5;
    width: 90vw;
    height: 10vh;
    text-align: center;
    background-color: rgb(44, 51, 58);
    border: 0;
    border-radius: 5px;
}

nav {
    background-color: rgb(44, 51, 58);
    padding: 0, 50, 0, 50;
    color: rgb(255,255,255);
    text-align: center;
    width: 50vw;
    height: 5vh;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    margin-top: 5px;
}

.nav {
  text-decoration: none;
  color: #c7c7c7;
}

.nav:hover{
  color: #aede00;
}

#hidden {
  display: none;
}

#layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

footer {
  margin-top: auto;
  background-color: rgb(51, 48, 48);
  text-align: center;
  color: #c7c7c7;
  width: 100vw;
  height: 7vh;
}