body {
    margin: 10;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(44, 51, 58);
    color: rgb(235,235,235);
}

header {

    padding: 0, 50, 0, 50;
    color: rgb(255,255,255);
    margin: 5;
    text-align: center;
}

nav {
    background-color: rgb(44, 51, 58);
    padding: 0, 50, 0, 50;
    color: rgb(255,255,255);
    text-align: center;
}

.nav {
  text-decoration: none;
  color: #c7c7c7;
}

.nav:hover{
  color: #aede00;
}

#content {
    display: block;
    position: relative;
}

#hidden {
  display: none;
}
