/*********
About-Me: 
*********/

#about-me {
    margin-top: 7vh;
}

#about-layout {
    --hex-size: 0.5;
    width: 70%;
    margin: 10rem 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-height: 73vh;
    height: max-content;
    /* max-height: 100vh; */
}

#about-profile {
    width: calc(340px / var(--hex-size));
    position: relative;
    margin: auto;
}

#about-text {
    /* text-align: center; */
    font-size: 1.2rem;
    padding-top: 6.5rem;
}

/*********
Hex-image: 
*********/

.hex-image {
    width: calc(340px / var(--hex-size));
    height: calc(300px / var(--hex-size));
    background: url("../../rsc/profile.png") no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    --hex-color: var(--background-color);
    /*transform: rotate(10deg);  need to rotation ? */
}

.hex-image.hex-image-cover {
    --hex-color: rgba(var(--background-cover-color), 1);
}

/* Left shape */

.hex-image:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0;
    height: 3px;
    border-right: calc(85px / var(--hex-size)) solid transparent;
    border-bottom: calc(150px / var(--hex-size)) solid var(--hex-color);
    border-top: calc(150px / var(--hex-size)) solid var(--hex-color);
}

/* Right shape */

.hex-image:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0;
    height: 3px;
    border-left: calc(85px / var(--hex-size)) solid transparent;
    border-bottom: calc(150px / var(--hex-size)) solid var(--hex-color);
    border-top: calc(150px / var(--hex-size)) solid var(--hex-color);
}
