/*********
CSS code for less than or equal to 724px width: 
*********/

@media screen and (max-width: 724px) {
    .dropitem {
        visibility: hidden;
    }
    .dropitem .line {
        visibility: hidden;
    }
    nav .dropitem {
        width: 1rem;
    }
    nav .hamburger {
        visibility: visible;
        cursor: pointer;
        position: absolute;
        left: calc(100vw - 5.5rem);
        top: 1.8rem;
        width: 1rem;
        height: 1rem;
    }
    nav .hamburger .burgerbtn {
        width: 1rem;
        height: 0.2rem;
        background: var(--header-color);
        border-radius: 5px;
        box-shadow: 0 2px 5px var(--hamburger-shadow);
        transition: all .5s ease-in-out;
        position: relative;
        top: 50%
    }
    nav .hamburger .burgerbtn::before, nav .hamburger .burgerbtn::after {
        content: '';
        width: 1rem;
        height: 0.2rem;
        background: var(--header-color);
        border-radius: 5px;
        box-shadow: 0 2px 5px var(--hamburger-shadow);
        transition: all .5s ease-in-out;
        position: absolute;
        /* sleft: calc(100vw - 2rem); */
    }
    nav .hamburger .burgerbtn::before {
        transform: translateY(-0.3rem);
    }
    nav .hamburger .burgerbtn::after {
        transform: translateY(0.3rem);
    }
    .hamburger.open .burgerbtn {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .hamburger.open .burgerbtn::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    .hamburger.open .burgerbtn::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
    .hamburger.open~.dropitem {
        visibility: visible;
        background: var(--dropdown-background-fallback-color);
        background: var(--dropdown-background-color);
        position: absolute;
        right: 1rem;
        width: 9rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 3rem;
        margin-top: 2rem;
        padding: 0.8rem;
        border-radius: 5px;
        transition: opacity .15s ease-out;
    }
    /*Fix bug with nav glitching out:*/
    nav .hamburger:not(.open) ~ .dropitem {
        display: none;
    }

    .settings {
        position: absolute;
        left: calc(100vw - 3.5rem);
        margin: 0px;
        cursor: pointer;

    }

    #about-layout {
        --hex-size: 1;
    }

    #about-text {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .it-preview {
        grid-template:
            'it-img'
            'it-info';
    }

    .it-intro-prev {
        flex-direction: column;
    }

    .it-intro-prev > div {
        width: 100%;
    }

    #it-languages ul {
        padding-top: 1rem;
    }

    .it-preview-img {
        margin-bottom: 1rem;
    }

    .it-intro .it-preview-info-c {
        position: static;
        transform: none;
    }

    #it-languages {
        left: 0px;
    }
/* 
    #it-experience article {
        width: 80%;
    }

    .it-article-text {
        margin-left: 2rem;
        margin-right: 2rem;
    } */

    .gallery-card {
        width: 100%;
    }
}