---
import HeaderLink from "./HeaderLink.tsx";
import ThemeToggle from "./ThemeToggle.tsx";
import LanguageToggle from "./LanguageToggle";
---

<header>
	<nav>
		<div class='flex flex-row gap-8 md:gap-16 justify-end pt-8 pr-8 flex-wrap'>
			<span class='flex flex-row gap-8 md:gap-16'>
				<HeaderLink href='#about' client:load client:only>About</HeaderLink>
				<HeaderLink href='#projects' client:load client:only>
					Projects
				</HeaderLink>
				<HeaderLink href='#contact' client:load client:only>Contact</HeaderLink>
			</span>
			<span class='flex flex-row gap-8 md:gap-16'>
				<!-- <LanguageToggle client:load client:only /> -->
				<ThemeToggle client:load client:only />
			</span>
		</div>
	</nav>
</header>
<style></style>
